/* ~~~~~~~~~~~~~~ */
/* color variables */
/* ~~~~~~~~~~~~~~ */
:root {
  --primaryColor: #444444;
  --secondaryColor: #ffdd67;
  --tertiaryColor: #535945;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.loader span {
  height: 40px;
  font-size: 24px;
  color: rgba(252, 221, 103, .1);
  display: inline-block;
  transition: all .5s;
  animation: animate 2s infinite;
}

.loader span:nth-child(1) {
  animation-delay: .2s;
}

.loader span:nth-child(2) {
  animation-delay: .4s;
}

.loader span:nth-child(3) {
  animation-delay: .6s;
}

.loader span:nth-child(4) {
  animation-delay: .8s;
}

.loader span:nth-child(5) {
  animation-delay: 1s;
}

.loader span:nth-child(6) {
  animation-delay: 1.2s;
}

.loader span:nth-child(7) {
  animation-delay: 1.4s;
}

@keyframes animate {
  0% {
    color: rgba(252, 221, 103, .1);
    transform: translateY(0);
    margin-left: 0;
  }

  25% {
    color: rgba(252, 221, 103, 1);
    transform: translateY(-15px);
    margin-left: 10px;
    text-shadow: 0 15px 5px rgba(0, 0, 0, 1);
  }

  100% {
    color: rgba(252, 221, 103, .1);
    transform: translateY(0);
    margin-left: 0;
  }
}